.svg-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 10px;
}

.node {
  /* stroke: rgb(201, 189, 189); */
  /* stroke-width: 1.5px; */
  fill: rgb(228, 228, 228);
}

.link {
  stroke: rgb(197, 197, 197);
}
.icons {
  border-radius: 10px;
}
